{% extends 'base.html' %}
{% block title %}Tambah Mata Kuliah{% endblock title %}
{%block content%}
<div class="container mt-5">
  <div class="card bg-dark ms-4 me-4">
    <h4 class="card-header text-white">Masukkan Data Mata Kuliah</h4>
    <div class="card-body" style="background-color: rgb(39, 39, 39);">
      <form action="/addmk" method="post">
        <div class="mb-3">
          <label for="kodemk" class="form-label text-white">Kode Mat Kuliah</label>
          <input type="text" name="kode_mk" class="form-control" id="kodemk" placeholder="masukan kode prodi">
        </div>
        <div class="mb-3">
          <label for="nama_mk" class="form-label text-white">Nama Matakuliah</label>
          <input type="text" name="nama_mk" class="form-control" id="nama_mk" placeholder="masukan nama prodi">
        </div>
        <div class="mb-3">
          <label for="sks" class="form-label text-white">SKS</label>
          <input type="text" name="sks" class="form-control" id="sks" placeholder="masukan nama sks">
        </div>
        <div class="mb-3">
          <label for="nidn" class="form-label text-white">NIDN</label>
          <input type="text" name="nidn" class="form-control" id="nidn" placeholder="masukan nama nidn">
        </div>
        <button type="submit" class="btn btn-primary">
          Simpan
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path
              d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>
{%endblock content%}