{% extends 'base.html' %}
{% block title %}Tambah Prodi{% endblock title %}
{%block content%}
<div class="container mt-5">
  <div class="card bg-dark ms-4 me-4">
    <h4 class="card-header text-white">Masukkan Data Kaprodi</h4>
    <div class="card-body" style="background-color: rgb(243, 235, 235);">
      <form action="/addpd" method="post">
        <div class="mb-3">
          <label for="kodeprodi" class="form-label text-white">Kode Prodi</label>
          <input type="text" name="kode_jurusan" class="form-control" id="kodeprodi" placeholder="masukan kode prodi">
        </div>
        <div class="mb-3">
          <label for="namaprodi" class="form-label text-white">Nama Prodi</label>
          <input type="text" name="nama_jurusan" class="form-control" id="namaprodi" placeholder="masukan nama prodi">
        </div>
        <div class="mb-3">
          <label for="kaprodi" class="form-label text-white">Nama Kaprodi</label>
          <input type="text" name="kaprodi" class="form-control" id="kaprodi" placeholder="masukan nama kaprodi">
        </div>
        <button type="submit" class="btn btn-primary">
          Simpan
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path
              d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>



{%endblock content%}