{% extends 'base.html' %}
{% block title %}
Page Mata Kuliah
{% endblock %}
{% block content %}
<div class="container mt-5 rounded">
  <div class="card bg-dark ms-4 me-4 ">
    <div class="justify-content-between d-flex rounded" style="background-color: rgb(147, 146, 146);">
      <h4 class="card-header text-white">Data Kaprodi STMIK SZ NW</h4>
      <div class="me-3">
        <a type="button" class="btn btn-primary my-2" href="{{ url_for('addmk')}}">
          Input Data
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
        </a>
      </div>
    </div>
    <div class="card-body" style="background-color: rgb(39, 39, 39);">
      <p class="card-text">
      <div class="table-responsive p-3">

        <table id='mhsTable' class="table rounded" style="background-color: rgb(60, 60, 60);" width='100%'>
          <thead class="text-white" style="font-size: 15px;">
            <tr>
              <th>NO</th>
              <th>KODE MATA KULIAH</th>
              <th>NAMA MATA KULIAH</th>
              <th>SKS</th>
              <th>NIDN</th>
              <th>AKSI</th>
            </tr>
          </thead>
          <tbody class="text-white" style="font-size: 15px;">
            {% for data in datas %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <th scope="row">{{ data[0] }}</th>
              <td class="text-start">{{data[2]}}</td>
              <td class="text-center">{{data[3]}}</td>
              <td>{{ data[1]}}</td>
              <td>
                <a type="submit" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="Edit Data" href="/editmk/{{ data[0] }}"" >
                                  <svg xmlns=" http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </a>
                <a type="submit" class="btn btn-danger " onclick="return confirm('Ingin menghapus data?')" data-bs-
                  toggle="tooltip" data-bs-placement="top" title="Hapus Data" href="/hapusmk/{{ data[0] }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3" viewBox="0 0 16 16">
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                  </svg>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </p>
    </div>
  </div>
  {% endblock %}